<!DOCTYPE html>
<html>
<head>

  
	<title>Eye Analyser</title>
  <link rel="stylesheet" type="text/css" href="../static/css/patient.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
</head>
<body>
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">iANALYSER</a>
  
  <a class="nav-link ml-auto" href="#">Register Customer</a>
<form class="form-inline  ml-auto" action="">
      <input class="form-control mr-sm-2" type="text" placeholder="Customer number..">
      <button class="btn btn-success" type="submit">Search</button>
  </form>
</nav>

<div class="container-fluid">
  <div clas="row">
    <div class="col">
      <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Retinal Image </h3>
                    </div> <!-- /.box-header -->
                    <div class="box-body">
                       <img src="../static/images/image1.jpg" class="img-fluid">
                      <div class="caption">
                        <h3>left eye</h3>
                        <p>22/11/2019 11:25AM</p>
                      </div>
                    </div> <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#" data-abc="true">«</a></li>
                            <li><a href="#" data-abc="true">1</a></li>
                            <li><a href="#" data-abc="true">2</a></li>
                            <li><a href="#" data-abc="true">3</a></li>
                            <li><a href="#" data-abc="true">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    </div>
    <div class="col">

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Report of Image 1</h3><span class="float-right"><b>22/05/2019</b></span>
                    </div> <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Disease</th>
                                    <th style="width: 40px">Chance</th>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>Glaucoma</td>
                                    
                                    <td><span class="badge bg-red">55%</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Diabetes Retinopathy</td>
                                    <td><span class="badge bg-yellow">70%</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Smoker</td>
                                    <td><span class="badge bg-light-blue">30%</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Chance of heart disease</td>
                                    <td><span class="badge bg-green">90%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#" data-abc="true">«</a></li>
                            <li><a href="#" data-abc="true">1</a></li>
                            <li><a href="#" data-abc="true">2</a></li>
                            <li><a href="#" data-abc="true">3</a></li>
                            <li><a href="#" data-abc="true">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="row">
      <input type="file" name="retinalImage">
      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Analyse</button>
    </div>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Disease</th>
                                    <th style="width: 40px">Chance</th>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>Glaucoma</td>
                                    
                                    <td><span class="badge bg-red">55%</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Diabetes Retinopathy</td>
                                    <td><span class="badge bg-yellow">70%</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Smoker</td>
                                    <td><span class="badge bg-light-blue">30%</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Chance of heart disease</td>
                                    <td><span class="badge bg-green">90%</span></td>
                                </tr>
                            </tbody>
                        </table>
      <div class="row">
        <div class="form-group" style="width: 100%">
          <label for="Remark">Any Remark</label>
          <textarea class="form-control " rows="3" placeholder="Write here..."></textarea>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
</div>
  </body>
  </html>
